header#head.head
	section.section.head-row
		a(href='#slider').head-logo
			include ../../img/logo-img.svg
			include ../../img/logo-text.svg
		button.head-burger-btn
			span
		.head-burger-menu
			.head-contact
				a(href='tel:87053953232').head-phone +7 (705) 395 32 32
				a(href='https://wa.me/87053953232').head-whatsapp What's App
			nav.head-nav
				a(href='#projects').head-link Проекты
				a(href='#calc').head-link Калькулятор
				a(href='#about').head-link О компании
				a(href='#partners').head-link Партнёры
				a(href='#foot').head-link Контакты